<%- include("./templates/header", {pageName: "404 - Page Not Found"}) %>
<%- include("./templates/navbar", {currentPage: "error"}) %>
<div class="flex flex-col justify-center items-center">
    <img src="/images/404.webp" alt="404 question mark image" class="filter invert">
    <p class="text-center text-3xl">This page does not exist.</p>
    <a href="/" class="text-center text-base mt-6">Back to Home</a>
</div>
</body>
</html>