<%- include("./templates/header", {pageName: "Game Lobby" }) %>
    <%- include("./templates/navbar", {currentPage: "game" }) %>

    <body class="grid place-items-center h-screen bg-gray-100">
        <button
          id="open-modal-btn"
          class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
        >
          Open Modal
        </button>
    
        <!-- Modal Wrapper -->
        <div id="modal" class="fixed z-10 inset-0">
          <div
            class="flex items-center justify-center min-h-screen bg-gray-500 bg-opacity-75 transition-opacity">
            <!-- Modal Box -->
            <div
              class="flex flex-col items-center justify-between bg-white p-20 rounded w-2/3">
              <h3
                class="text-5xl leading-6 font-medium text-purple-700 tracking-wider uppercase"
                id="modal-title">
                Modal in Tailwind CSS
              </h3>
              <p class="mt-14 text-xl text-gray-500">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quos,
                eum corporis totam natus architecto praesentium, officiis blanditiis
                ex quaerat eligendi iusto ad, magnam voluptatum nulla culpa
                provident alias sapiente labore impedit. Quisquam quaerat illum
                laborum ex necessitatibus at, odio, nostrum dignissimos nesciunt
                velit tenetur suscipit ea reiciendis et id!
              </p>
              <button
                id="close-modal-btn"
                type="button"
                class="border border-gray-200 px-10 py-3 mt-10 bg-red-500 hover:bg-red-600 text-white rounded uppercase tracking-wider">
                Close
              </button>
            </div>
          </div>
        </div>
        <script>
            document.getElementById("open-modal-btn").addEventListener("click", ()=> {
              document.getElementById("modal-wrapper").classList.remove("hidden");
            });
        </script>
  

        <%- include("./templates/footer", {pageScript: "game.js" }) %>
