<%- include("./templates/header", {pageName: "How to play"}) %>
<%- include("./templates/navbar", {currentPage: "howToPlay"}) %>
<img id="lobby1" src="/images/lobby1.png" class="mx-auto p-2 border-gray-800">
<img id="lobby2" src="/images/lobby2.png" class="mx-auto p-2 border-gray-800">
<img id="game1" src="/images/game1.png" class="mx-auto p-2 border-gray-800">
<img id="game1" src="/images/game2.png" class="mx-auto p-2 border-gray-800">
<img id="game1" src="/images/game3.png" class="mx-auto p-2 border-gray-800">
<img id="game1" src="/images/game4.png" class="mx-auto p-2 border-gray-800">
<img id="game1" src="/images/game5.png" class="mx-auto p-2 border-gray-800">
</body>
</html>
