<%- include("./templates/header", {pageName: "How to play"}) %>
<%- include("./templates/navbar", {currentPage: "howToPlay"}) %>
<img id="lobby1" src="/images/lobby1.png" class="mx-auto p-2 border-gray-800">

</body>
</html>
