<%- include("./templates/header", {pageName: "Home"}) %>
<div class="background-animation">
    <% if (authenticated) { %>
        <%- include("./templates/navbar", {currentPage: "/"}) %>
        <img src="images/logo.png" class="w-1/2 md:w-96 mx-auto mt-28 mb-8">

        <div class="flex flex-col mt-16">
            <p class="text-2xl font-bold text-gray-200 text-center">Get in a Game Now!</p>
            <a href="signUp" class="text-xl block font-bold text-gray-200 bg-gradient-to-t from-sky-400 to-sky-700 intense-shadow text-center p-2 px-10 mt-3 rounded-lg mx-auto border-2 border-sky-400 hover:border-sky-200">Play</a>
            <p class="text-2xl mt-8 font-bold text-gray-200 text-center">Don't Know How to Play?</p>
            <a href="howToPlay" class="text-xl block font-bold text-gray-200 bg-gradient-to-t from-sky-400 to-sky-700 intense-shadow text-center p-2 px-5 mt-3 rounded-lg mx-auto border-2 border-sky-400 hover:border-sky-200">Find Out</a>
        </div>
    <% } else { %>
    <img src="images/logo.png" class="w-1/2 md:w-96 mx-auto mt-20 mb-8">
    <div class="flex flex-col">
        <p class="text-center p-5 font-semibold text-gray-200">Dead Net is a social deducation chat room game where you must identify who is AI <a href="howToPlay" class="font-bold underline text-white text-lg">Read More</a></p>
        <p class="text-2xl font-bold mt-4 text-gray-200 text-center">Want to Play?</p>
        <a href="signUp" class="text-xl mt-3 font-bold text-gray-200 bg-gradient-to-t from-sky-400 to-sky-700 intense-shadow text-center p-2 px-4 mt-3 rounded-lg mx-auto border-2 border-sky-400 hover:border-sky-200">Start Now</a>
        <p class="text-2xl mt-8 font-bold text-gray-200 text-center">Have an Account?</p>
        <a href="login" class="text-xl mt-3 font-bold text-gray-200 bg-gradient-to-t from-sky-400 to-sky-700 intense-shadow text-center p-2 px-4 mt-3 rounded-lg mx-auto border-2 border-sky-400 hover:border-sky-200">Login Now</a>
    </div>
    <% } %>
</div>  
<%- include("./templates/footer", {pageScript: "index.js"}) %>