<%- include("./templates/header", {pageName: "Home"}) %>
<%- include("./templates/navbar", {currentPage: "/"}) %>
<div class="flex flex-col">
    <% if (authenticated) { %>
        <a href="lobby" class="text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none dark:focus:ring-zinc-500 mx-auto my-5 p-5 px-20">Play</a>
    <% } else { %>
        <a href="login" class="text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none dark:focus:ring-zinc-500 mx-auto my-5 p-5 w-64">Login</a>
        <a href="signUp" class="text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none dark:focus:ring-zinc-500 mx-auto my-5 p-5 w-64">Sign Up</a>
    <% } %>
</div>
<p class="text-center font-bold text-xl p-2">Top Players</p>
<div id="leaderboard" class="relative overflow-x-auto shadow-md rounded-lg bg-zinc-900 m-2">
    <table class="w-full text-sm text-zinc-300">
        <thead class="text-xs text-gray-400 uppercase bg-zinc-700">
            <tr>
                <th scope="col" class="px-3 py-2">Player</th>
                <th scope="col" class="px-3 py-2">Win Rate</th>
                <th scope="col" class="px-3 py-2">Games Played</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < topUsers.length; i++) { %>
                <%- include("./templates/leaderboardEntry", {userEntry: topUsers[i]}) %>
            <% } %>
        </tbody>
    </table>
</div>
<%- include("./templates/footer", {pageScript: "index.js"}) %>