<%- include("./templates/header", {pageName: "???"}) %>
<%- include("./templates/navbar", {currentPage: "???"}) %>
<div class="bg-gray-800 m-2 box-border rounded-lg">
    <iframe src="https://youtu.be/g3jCAyPai2Y?t=65?autoplay=1" title="Yakuza OST - Baka Mitai (ばかみたい) Kiryu full version" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
    class="mx-auto w-full h-auto p-2 aspect-video"></iframe>
</div>
<div class="flex flex-col md:flex-row items-center">

    <div class="rounded-lg m-2 bg-gray-800">
        <img id="no" src="/images/meme1.jpg" class="mx-auto p-2 border-gray-800">
        <p class="uppercase text-white text-xl font-bold p-2 text-center">No</p>
    </div>
    <div class="rounded-lg m-2 bg-gray-800">
        <img id="robot" src="/images/meme2.gif" class="mx-auto p-2 border-gray-800">
        <p class="uppercase text-white text-xl font-bold p-2 text-center">I am a robot</p>
    </div>
    <div class="rounded-lg m-2 bg-gray-800">
        <img id="heli" src="/images/heli.png" class="mx-auto p-2 border-gray-800">
        <p class="uppercase text-white text-xl font-bold p-2 text-center">You destroyed the Vile Red Falcon <br> and saved the universe.</p>
    </div>
    <!-- PUT SOME MEMES HERE, LAST PERSON DELETE THIS COMMENT -->
    <div class="rounded-lg m-2 bg-gray-800">
        <img id="jazz" src="/images/trapCard.jpg" class="mx-auto p-2 border-gray-800">
        <p class="uppercase text-white text-xl font-bold p-2 text-center">GOTTEM</p>
    </div>
    <div class="rounded-lg m-2 bg-gray-800">
        <img id="nextGen" src="/images/imHuman.jpg" class="mx-auto p-2 border-gray-800 w-sm h-sm">
        <p class="uppercase text-white text-xl font-bold p-2 text-center ">Next Gen Human</p>
    </div>
</div>
<script src="memes.js"></script>
</body>
</html>
