<%- include("./templates/header", {pageName: "Privacy Policy"}) %>
<%- include("./templates/navbar", {currentPage: "N/a"}) %>

<div class="w-3/5 m-auto">
    <h1 class="text-2xl font-bold">Privacy Policy</h1>
    <h2 class="text-xl font-semibold mt-2">Introduction</h2>
    <p>At DeadNet, accessible from https://two800-202410-dtc04.onrender.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by DeadNet and how we use it.</p>

    <h2 class="text-xl font-semibold mt-2">Information We Collect</h2>
    <p>In order to provide you with quality service, we collect the following information voluntarily given on signing up:</p>
    <ul class="list-disc list-inside">
        <li>Username</li>
        <li>Email</li>
        <li>Password</li>
    </ul>

    <h2 class="text-xl font-semibold mt-2">How We Use Your Information</h2>
    <p>We use the information collected for the following purposes:</p>
    <ul class="list-disc list-inside">
        <li> To provide you with a personalized experience on our website:
            <ul class="pl-6 list-inside list-disc">
                <li>Displaying your username</li>
                <li>Displaying your profile picture</li>
                <li>Displaying your win count</li>
                <li>Displaying your games played count</li>
            </ul>
        </li>
        <li> To contact you in case of any issues</li>
    </ul>

    <h2 class="text-xl font-semibold mt-2">Sharing Your Information</h2>
    <p>We do not sell, trade or otherwise transfer to outside parties your information. This does not include trusted 3rd parties who assist us in the operation of our service.</p>

    <h2 class="text-xl font-semibold mt-2">Changes To Our Privacy Policy</h2>
    <p>If there are any changes to our privacy policy, they will be posted on this page. Any changes will only apply to information gathered after the date of the change.</p>

    <h2 class="text-xl font-semibold mt-2">Your Consent</h2>
    <p>By using our site or signing up for our service, you consent to our privacy policy.</p>

    <h2 class="text-xl font-semibold mt-2">Contact Us</h2>
    <p>If there are any questions or concerns regarding this privacy policy, you may contact us using the following email:</p>
    <p>bcit.deadnet@gmail.com</p>
</div>

</body>
</html>
