<%- include("./templates/header", {pageName: "Verify email"}) %>
<%- include("./templates/navbar", {currentPage: "N/a"}) %>

<div class="flex flex-col justify-center items-center">
<h1 class="text-xl mt-8 mb-2">Email verified successfully!</h1>
<p>Thank you for verifying your email. Your account is now fully activated.</p>
<a href="/" class="bg-gray-900 p-2 rounded-lg text-white mt-8">Return to homepage</a>
</div>

</body>
</html>