<form id="chatBar" class="w-auto bg-gray-700 p-3 text-sm flex justify-between fixed bottom-0 left-0 right-0 backdrop-blur-lg">
    <textarea id="textBar" type="text" rows="<%= rows %>" placeholder="<%= placeholderText %>" class="outline-none align-middle w-9/10 text-wrap resize-none rounded-lg p-2 bg-zinc-200"></textarea>
    <button id="sendMessageButton" class="text-gray-300 hover:text-gray-300">
        <i class="material-symbols-outlined align-middle">send</i>
    </button>
</form>