<nav class="bg-gradient-to-t from-sky-400 to-sky-700 w-full intense-shadow mb-20" id="gameNavbar" style="position: fixed;">
    <% if (currentPage === "lobby") { %>
        <%- include("lobbyGameNavbarElements") %>
    <% } else { %>
        <%- include("inGameNavbarElements"); %>
    <% } %>
</nav>
