<nav class="bg-sky-500 w-full intense-shadow" id="gameNavbar">
    <% if (currentPage === "lobby") { %>
        <%- include("lobbyGameNavbarElements") %>
    <% } else { %>
        <%- include("inGameNavbarElements"); %>
    <% } %>
</nav>
