<nav class="bg-blue-800">
    <% if (currentPage === "lobby") { %>
        <%- include("lobbyGameNavbarElements") %>
    <% } else { %>
        <%# include("inGameNavbarElements") %>
    <% } %>
</nav>
