<nav class="bg-blue-800 w-full shadow-lg" id="gameNavbar">
    <% if (currentPage === "lobby") { %>
        <%- include("lobbyGameNavbarElements") %>
    <% } else { %>
        <%- include("inGameNavbarElements"); %>
    <% } %>
</nav>
