<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="images/logo.png" type="image/icon type">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= pageName %>
    </title>
    <style>
        /* Modal background */
        .hidden {
            display: none;
        }

        .fixed {
            display: flex;
        }
    </style>
</head>

<body class="bg-zinc-200">