<div class="max-w-screen-x1 flex flex-wrap items-center justify-between mx-auto py-2">
    <p class="text-sm text-white font-semibold p-2" id="gameNavbarMessage">Waiting for Game to Start...</p>
    <button id="readyButton" class="m-2 font-bold text-sm bg-sky-700 rounded-xl p-1 px-4 mr-4 text-white border-2 border-sky-500 hover:bg-sky-600 hover:border-sky-400 intense-shadow">Ready</button>
</div>