<div class="max-w-screen-x1 flex flex-wrap items-center justify-between mx-auto py-2">
    <p class="text-sm text-white p-2" id="gameNavbarMessage">Waiting for Game to Start...</p>
    <button id="readyButton" class="m-2 font-bold text-sm bg-red-600 rounded-xl p-1 px-4 mr-4 text-white border-2 border-red-500 hover:bg-red-500 hover:border-red-600">Ready</button>
</div>