<dialog id="dialogBoxLose" class="z-50 justify-center rounded-lg">
    <div class="bg-white rounded-lg shadow-lg max-w-sm p-6">
        <div class="flex items-center justify-center mb-4">
            <h1 class="text-4xl font-bold text-red-700 text-center">Defeat!</h1>
        </div>
        <img src="/images/defeat.jpg" alt="game result" class="w-48 mx-auto">
        <div class="flex justify-center pt-5">
            <button class="closeDialog ml-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Back to lobby</button>
        </div>
    </div>
</dialog>