<button id="openDialog" class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
    Open Dialog
</button>

<dialog id="dialogBox" class="hide z-50 justify-center   rounded-lg">
    <div class="bg-white rounded-lg shadow-lg max-w-sm p-6">
        <div class="flex items-center justify-center mb-4">
            <h1 class="text-4xl font-bold text-<%= color %>-700 text-center"><%= winOrLose %></h3>
        </div>
        <img src="<%= imageUrl %>" alt="game result" class="w-48 mx-auto">
        <div class="flex justify-center pt-5">
            <button id="closeDialog" class="ml-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Back to lobby</button>
        </div>
    </div>
</dialog>