@tailwind base;
@tailwind components;
@tailwind utilities;


.intense-shadow {
    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.25), 0 2px 4px -1px rgba(0, 0, 0, 0.15);
}

.intense-shadow_2 {
    box-shadow: 0 4px 20px 1px rgba(100, 129, 224, 0.5), 0 2px 4px -1px rgba(0, 5, 255, 0.15);
}

.w-9\/10 {
    width: 90%;
}

::backdrop {
    background: black;
    opacity: 0.70;
}

.top-nav {
    top: 80px;
}

.offset-gameNav {
    padding-top: 144px;
}

.offset-nav {
    padding-top: 80px;
}

.offset-chatBar {
    padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
    /* For profile picture on desktop*/ 
    #pencilIcon {
        top: 88px;
        left: 88px;
        opacity: 0%;
        z-index: 1;
        background-color: transparent;
    }

    #profilePictureContainer:hover #pencilIcon {
        opacity: 100%;
        filter: invert(100%);
    }

    #profilePictureContainer:hover #profilePicture {
        filter: brightness(0.50);
    }
}