@tailwind base;
@tailwind components;
@tailwind utilities;

.intense-shadow {
    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.25), 0 2px 4px -1px rgba(0, 0, 0, 0.15);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
    background-color: #4a5568;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #2d3748;
}

.w-9\/10 {
    width: 90%;
}

.offset-gameNav {
    padding-top: 144px;
}

.offset-nav {
    padding-top: 80px;
}