<div id="transition">
    <div class="h-screen w-screen fixed flex flex-col justify-center items-center top-nav">
        <img src="images/voteTransitionAnimation.gif" class="w-36 h-36">
        <p class="text-4xl font-semibold text-center text-gray-800"><%= transitionMessage %></p>
    </div>
</div>