<div id="waitView">
    <div class="h-screen w-screen fixed flex flex-col justify-center items-center top-nav">
        <img src="images/waitTransitionAnimation.gif" class="w-36 h-36 mx-auto">
        <p class="text-4xl p-5 font-semibold m-2 text-center text-gray-800 mx-auto">The AIs Are Choosing Who to Eliminate, Please Wait...</p>
    </div>
</div>